# Server
PORT=8080

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=nama user database
DB_PASSWORD= password user database
DB_NAME=nama database

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET= buat jwt secret

# Firebase
FIREBASE_CREDENTIALS_PATH=firebase_service_account.json
FIREBASE_API_KEY= apikey firebase anda

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email app anda
SMTP_PASSWORD=password app anda
SMTP_FROM=email app anda
SMTP_FROM_NAME=E-Money App

# OTP
OTP_EXPIRY_MINUTES=5